*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1{
    color:black;
    text-align: center;
    font-size:  40px;
    display: top;
} */

body{
    background-color: rgb(88, 73, 183);
    background: linear-gradient(to right, white, rgb(66, 66, 227));
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    

}

 .container {
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 35);
    width: 768px ;
    height: 280px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
    padding: 100px;
    place-items: center;
    border: 2px solid #333;
        
} 
/* .container button.hidden{
    background-color: transparent; 
    border-color: aqua;
} */

/*
input{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}*/
.container button{
    background-color: rgb(96, 96, 196);
    color: white;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600 ;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.container form{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: whitesmoke;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    outline: none;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

/* .container.active .center-box{
    transform: translate(100%);

} */

.viewRsrv{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .viewRsrv{
    transform: translate(100%);
    opacity: 0;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

/* .toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100);
}

.toggle-container{
    background-color: green;
} */


/* h1.start{
    color: green;
}

.reserve {
    color:bisque;
}
.form-container{
    position: fixed;
    top: 0;
    height: 40%;
    transition: all 0.6s ease-in-out;
}  */

/* .rsrv {
    display: none;
    opacity: 1; 
    transition: opacity 1s ease-in; 
}

.signIn {
    display: block;
    opacity: 0; 
} */ 